# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Dataset files
data/**/*.csv

# Large dataset files
*.zip

# Python cache
.pytest_cache/
.mypy_cache/

# IDE
.vscode/